In [1]:
%reload_ext sql

In [2]:
from sqlalchemy import create_engine, MetaData, Table
import pymysql

In [3]:
# connect to DB using sqlalchemy
engine = create_engine("mysql+pymysql://root:UTData20$@localhost:3306/tiny_houses")
conn = engine.connect()
metadata = MetaData(conn)
t = Table("tiny_houses_all", metadata, autoload=True, autoload_with=engine)
[m.key for m in t.columns] # list table columns

['id',
 'title',
 'property_type',
 'bedrooms',
 'bathrooms',
 'area',
 'city',
 'state',
 'price',
 'price_per_sq_ft']

In [4]:
# connect to MySQL DB
%sql mysql+pymysql://root:UTData20$@localhost:3306/tiny_houses

### How many tiny house listings feature mobile homes?

In [5]:
%%sql
SELECT count(id) AS Mobile_Tiny_Home_Count FROM tiny_houses_all WHERE 
 property_type='Tiny House Trailer' OR property_type='Tiny House on a Trailer' OR
 property_type='Tiny House Shell on a Trailer' OR property_type='Converted Vehicle' OR
 property_type='rv' OR property_type='tiny_house_trailer' OR 
 property_type='converted_bus' OR property_type='camper';

 * mysql+pymysql://root:***@localhost:3306/tiny_houses
1 rows affected.

[(1180,)]

### Display first 15 rows of Mobile Tiny Homes table

In [6]:
%%sql
SELECT * FROM mobile LIMIT   15

 * mysql+pymysql://root:***@localhost:3306/tiny_houses
15 rows affected.

[(0, '"28\' X 90"" Official Tiny Home Builders Trailer - Discounted Price"', 'Tiny House Trailer', '0', ' 0 ', 224, 'Logan', 'Utah', 6000, 27, 'mobile'),
 (1, "24' TINY HOME READY FOR DELIVERY", 'Tiny House on a Trailer', '2', '1 ', 322, 'rpb', 'Florida', 30000, 93, 'mobile'),
 (3, 'Tiny in Greer, SC', 'Tiny House on a Trailer', '1', '1 ', 399, 'Greer', 'South Carolina', 99000, 248, 'mobile'),
 (4, 'Tiny Tudor', 'Tiny House on a Trailer', '1', '1 ', 180, 'Mukwonago', 'Wisconsin', 21000, 117, 'mobile'),
 (5, 'Tiny House on Wheels', 'Tiny House on a Trailer', '0', '1 ', 190, 'Colorado Springs', 'Colorado', 37000, 195, 'mobile'),
 (6, 'Tiny House Shell', 'Tiny House Shell on a Trailer', '1', '1 ', 200, 'Noblesville', 'Indiana', 8000, 40, 'mobile'),
 (8, 'Beautiful Big Blue', 'Tiny House on a Trailer', '2', '1 ', 350, 'Denver', 'Colorado', 89000, 254, 'mobile'),
 (10, "Outstanding 2014 Cypress Tumbleweed 18' Tiny House For Sale!", 'Tiny House on a Trailer', '1', '1 ', 208, 'Georgetown', 'Texas', 49000, 236, 'mobile'),
 (11, 'Tiny House', 'Tiny House on a Trailer', '1', '1 ', 280, 'Hot Springs ', 'Arkansas', 69000, 246, 'mobile'),
 (12, 'Tiny House for Sale - Stylish, Cozy, Green!', 'Tiny House on a Trailer', '1', '1 ', 224, 'Renton', 'Washington', 69000, 308, 'mobile'),
 (14, "New 24' Tiny House KVEC", 'Tiny House on a Trailer', '1', '1 ', 192, 'Hazard', 'Kentucky', 24000, 125, 'mobile'),
 (15, 'Tiny House on Wheels on 20 ft. trailer', 'Tiny House on a Trailer', '1', '1 ', 160, 'East Glacier Park', 'Montana', 35000, 219, 'mobile'),
 (17, 'Custom, Professionally Built Tiny House', 'Tiny House on a Trailer', '0', '1 ', 200, 'DENVER', 'Colorado', 25000, 125, 'mobile'),
 (19, 'Newly renovated skoolie', 'Converted Vehicle', '1', '.5 ', 135, 'San Diego ', 'California', 29000, 215, 'mobile'),
 (20, '2018 Athens 15â€™x32â€™ Like New', 'Tiny House on a Trailer', '1', '1 ', 390, 'Weatherford', 'Texas', 47000, 121, 'mobile')]

### How many tiny house listings feature non-mobile homes?

In [7]:
%%sql
SELECT count(id) AS Non_Mobile_Tiny_Home_Count FROM tiny_houses_all WHERE 
property_type='Container Home' OR property_type='Tiny House Shell on a Foundation' OR
property_type='Tiny House on a Foundation' OR property_type='cabin' OR
property_type='park_model' OR property_type='container_home' OR
property_type='tiny_house' OR property_type='tiny_house_shell';

 * mysql+pymysql://root:***@localhost:3306/tiny_houses
1 rows affected.

[(725,)]

### Display first 15 rows of Non-Mobile Tiny Homes table

In [8]:
%%sql
SELECT * FROM non_mobile LIMIT 15

 * mysql+pymysql://root:***@localhost:3306/tiny_houses
15 rows affected.

[(2, 'Custom 180 SQ FT Shipping Container Tiny Home', 'Container Home', '0', '1 ', 180, 'Portland', 'Oregon', 39000, 217, 'non_mobile'),
 (7, '8x12 Tiny House, Man Cave, Deer Hunting House', 'Container Home', '0', ' 0 ', 100, 'WICHITA', 'Kansas', 9000, 90, 'non_mobile'),
 (13, 'Duramax Gable Top Insulated Building 13x10', 'Tiny House Shell on a Foundation', '0', ' 0 ', 130, 'Commerce', 'California', 3000, 23, 'non_mobile'),
 (18, '2018 Athens 630 in established Austin Community', 'Tiny House on a Foundation', '1', '1 ', 399, 'Austin', 'Texas', 58000, 145, 'non_mobile'),
 (27, 'She shed', 'Tiny House on a Foundation', '2', ' 0 ', 400, 'Greer', 'South Carolina', 30000, 75, 'non_mobile'),
 (37, '20ft Living Unite Best quality material', 'Container Home', '1', '1 ', 180, 'KENNESAW', 'Georgia', 29000, 161, 'non_mobile'),
 (39, '400 sq ft cabin', 'Tiny House on a Foundation', '1', '1 ', 400, 'Athens ', 'Alabama', 29000, 73, 'non_mobile'),
 (51, 'Tiny house on 10 acres of off-grid land - northern Arizona ($45,000)', 'Tiny House on a Foundation', '1', '1 ', 372, 'Ash Fork', 'Arizona', 45000, 121, 'non_mobile'),
 (61, 'Almost finished tiny house', 'Tiny House on a Foundation', '1', ' 0 ', 400, 'Gilmer', 'Texas', 14000, 35, 'non_mobile'),
 (62, 'New, Custom Built, Energy Efficient Tiny House to be moved', 'Tiny House on a Foundation', '1', '1 ', 384, 'Point', 'Texas', 34000, 89, 'non_mobile'),
 (64, "10'ft x 16'ft Tiny Shed to home conversion", 'Tiny House on a Foundation', '0', '1 ', 160, 'Bangor', 'Pennsylvania', 27000, 169, 'non_mobile'),
 (67, '308 Sq Ft Converted Shed to Tiny House - Ready to move and move in!', 'Tiny House on a Foundation', '0', '1 ', 308, 'Monroe', 'North Carolina', 29000, 94, 'non_mobile'),
 (77, 'Modern Tiny Homestead', 'Tiny House on a Foundation', '3', '1 ', 400, 'Fletcher', 'Vermont', 215000, 538, 'non_mobile'),
 (83, 'Fog Hollow', 'Tiny House on a Foundation', '0', '1 ', 264, 'Due West', 'South Carolina', 41000, 155, 'non_mobile'),
 (104, 'Custom Designed Tiny House', 'Tiny House on a Foundation', '1', ' 0 ', 225, 'S.Bethany', 'Delaware', 32000, 142, 'non_mobile')]

### Show the average price per state in mobile & non_mobile categories

In [9]:
%%sql
SELECT state, FORMAT(avg(price),2) AS average_price, mobility
FROM (SELECT * FROM mobile UNION ALL SELECT * FROM non_mobile) AS all_
GROUP BY state, mobility;

 * mysql+pymysql://root:***@localhost:3306/tiny_houses
99 rows affected.

[('Alabama', '43,200.00', 'mobile'),
 ('Alabama', '48,934.82', 'non_mobile'),
 ('Alaska', '48,000.00', 'mobile'),
 ('Alaska', '57,000.00', 'non_mobile'),
 ('Arizona', '41,510.42', 'mobile'),
 ('Arizona', '54,173.83', 'non_mobile'),
 ('Arkansas', '23,800.00', 'mobile'),
 ('Arkansas', '31,450.00', 'non_mobile'),
 ('California', '50,122.92', 'mobile'),
 ('California', '43,394.14', 'non_mobile'),
 ('Colorado', '52,428.65', 'mobile'),
 ('Colorado', '50,269.65', 'non_mobile'),
 ('Connecticut', '45,400.00', 'mobile'),
 ('Connecticut', '133,950.00', 'non_mobile'),
 ('Delaware', '42,904.00', 'mobile'),
 ('Delaware', '32,000.00', 'non_mobile'),
 ('District of Columbia', '3,950.00', 'non_mobile'),
 ('Florida', '38,076.39', 'mobile'),
 ('Florida', '49,822.92', 'non_mobile'),
 ('Georgia', '53,093.72', 'mobile'),
 ('Georgia', '63,955.22', 'non_mobile'),
 ('Hawaii', '85,750.00', 'mobile'),
 ('Hawaii', '111,000.00', 'non_mobile'),
 ('Idaho', '48,000.00', 'mobile'),
 ('idaho', '54,766.12', 'non_mobile'),
 ('Illinois', '42,941.18', 'mobile'),
 ('Illinois', '33,279.29', 'non_mobile'),
 ('Indiana', '50,055.56', 'mobile'),
 ('Indiana', '57,249.75', 'non_mobile'),
 ('Iowa', '30,714.29', 'mobile'),
 ('Iowa', '34,780.00', 'non_mobile'),
 ('Kansas', '37,916.67', 'mobile'),
 ('Kansas', '23,500.00', 'non_mobile'),
 ('Kentucky', '35,181.82', 'mobile'),
 ('Kentucky', '45,800.00', 'non_mobile'),
 ('Louisiana', '36,083.33', 'mobile'),
 ('Louisiana', '47,125.00', 'non_mobile'),
 ('Maine', '44,600.00', 'mobile'),
 ('Maine', '31,071.43', 'non_mobile'),
 ('Maryland', '59,666.67', 'mobile'),
 ('Maryland', '66,966.67', 'non_mobile'),
 ('Massachusetts', '49,222.22', 'mobile'),
 ('Massachusetts', '30,936.27', 'non_mobile'),
 ('Michigan', '33,611.11', 'mobile'),
 ('Michigan', '99,006.25', 'non_mobile'),
 ('Minnesota', '40,941.18', 'mobile'),
 ('Minnesota', '54,200.00', 'non_mobile'),
 ('Mississippi', '36,333.33', 'mobile'),
 ('Mississippi', '26,100.00', 'non_mobile'),
 ('Missouri', '41,025.00', 'mobile'),
 ('Missouri', '41,421.43', 'non_mobile'),
 ('Montana', '77,545.45', 'mobile'),
 ('Montana', '76,644.90', 'non_mobile'),
 ('Nebraska', '41,666.67', 'mobile'),
 ('Nebraska', '63,166.67', 'non_mobile'),
 ('Nevada', '49,250.00', 'mobile'),
 ('Nevada', '43,335.83', 'non_mobile'),
 ('New Hampshire', '41,625.00', 'mobile'),
 ('New Hampshire', '36,862.50', 'non_mobile'),
 ('New Jersey', '32,500.00', 'mobile'),
 ('New Jersey', '30,307.50', 'non_mobile'),
 ('New Mexico', '28,800.00', 'mobile'),
 ('New Mexico', '46,133.33', 'non_mobile'),
 ('New York', '48,695.65', 'mobile'),
 ('New york', '37,538.31', 'non_mobile'),
 ('North Carolina', '45,154.18', 'mobile'),
 ('North Carolina', '49,032.86', 'non_mobile'),
 ('North Dakota', '39,333.33', 'mobile'),
 ('North Dakota', '32,950.00', 'non_mobile'),
 ('Ohio', '51,620.79', 'mobile'),
 ('Ohio', '33,415.63', 'non_mobile'),
 ('Oklahoma', '42,095.24', 'mobile'),
 ('Oklahoma', '43,437.50', 'non_mobile'),
 ('Oregon', '61,841.79', 'mobile'),
 ('Oregon', '52,164.25', 'non_mobile'),
 ('Pennsylvania', '36,782.61', 'mobile'),
 ('Pennsylvania', '36,875.92', 'non_mobile'),
 ('Rhode Island', '13,666.67', 'mobile'),
 ('South Carolina', '47,447.37', 'mobile'),
 ('South Carolina', '79,275.00', 'non_mobile'),
 ('South Dakota', '58,500.00', 'non_mobile'),
 ('Tennessee', '51,767.44', 'mobile'),
 ('Tennessee', '45,517.82', 'non_mobile'),
 ('Texas', '44,509.34', 'mobile'),
 ('Texas', '45,728.22', 'non_mobile'),
 ('Utah', '54,789.47', 'mobile'),
 ('Utah', '51,222.11', 'non_mobile'),
 ('Vermont', '54,700.00', 'mobile'),
 ('Vermont', '88,128.57', 'non_mobile'),
 ('Virginia', '49,571.43', 'mobile'),
 ('Virginia', '37,139.09', 'non_mobile'),
 ('Washington', '52,271.59', 'mobile'),
 ('Washington', '52,553.85', 'non_mobile'),
 ('West Virginia', '48,250.00', 'mobile'),
 ('West Virginia', '21,500.00', 'non_mobile'),
 ('Wisconsin', '33,857.14', 'mobile'),
 ('Wisconsin', '49,666.56', 'non_mobile'),
 ('Wyoming', '32,666.67', 'mobile'),
 ('Wyoming', '50,600.00', 'non_mobile')]

### Pivot the above returned result to show the average price per state in mobile & non_mobile categories

In [10]:
%%sql
SELECT state,
 FORMAT(AVG(CASE WHEN mobility = 'mobile' THEN price ELSE NULL END),2) AS mobile,
 FORMAT(AVG(CASE WHEN mobility = 'non_mobile' THEN price ELSE NULL END),2) AS non_mobile
 FROM (SELECT *
FROM (SELECT * FROM mobile UNION ALL SELECT * FROM non_mobile) AS all_) AS price
GROUP BY state;

 * mysql+pymysql://root:***@localhost:3306/tiny_houses
51 rows affected.

[('Alabama', '43,200.00', '48,934.82'),
 ('Alaska', '48,000.00', '57,000.00'),
 ('Arizona', '41,510.42', '54,173.83'),
 ('Arkansas', '23,800.00', '31,450.00'),
 ('California', '50,122.92', '43,394.14'),
 ('Colorado', '52,428.65', '50,269.65'),
 ('Connecticut', '45,400.00', '133,950.00'),
 ('Delaware', '42,904.00', '32,000.00'),
 ('District of Columbia', None, '3,950.00'),
 ('Florida', '38,076.39', '49,822.92'),
 ('Georgia', '53,093.72', '63,955.22'),
 ('Hawaii', '85,750.00', '111,000.00'),
 ('Idaho', '48,000.00', '54,766.12'),
 ('Illinois', '42,941.18', '33,279.29'),
 ('Indiana', '50,055.56', '57,249.75'),
 ('Iowa', '30,714.29', '34,780.00'),
 ('Kansas', '37,916.67', '23,500.00'),
 ('Kentucky', '35,181.82', '45,800.00'),
 ('Louisiana', '36,083.33', '47,125.00'),
 ('Maine', '44,600.00', '31,071.43'),
 ('Maryland', '59,666.67', '66,966.67'),
 ('Massachusetts', '49,222.22', '30,936.27'),
 ('Michigan', '33,611.11', '99,006.25'),
 ('Minnesota', '40,941.18', '54,200.00'),
 ('Mississippi', '36,333.33', '26,100.00'),
 ('Missouri', '41,025.00', '41,421.43'),
 ('Montana', '77,545.45', '76,644.90'),
 ('Nebraska', '41,666.67', '63,166.67'),
 ('Nevada', '49,250.00', '43,335.83'),
 ('New Hampshire', '41,625.00', '36,862.50'),
 ('New Jersey', '32,500.00', '30,307.50'),
 ('New Mexico', '28,800.00', '46,133.33'),
 ('New York', '48,695.65', '37,538.31'),
 ('North Carolina', '45,154.18', '49,032.86'),
 ('North Dakota', '39,333.33', '32,950.00'),
 ('Ohio', '51,620.79', '33,415.63'),
 ('Oklahoma', '42,095.24', '43,437.50'),
 ('Oregon', '61,841.79', '52,164.25'),
 ('Pennsylvania', '36,782.61', '36,875.92'),
 ('Rhode Island', '13,666.67', None),
 ('South Carolina', '47,447.37', '79,275.00'),
 ('South Dakota', None, '58,500.00'),
 ('Tennessee', '51,767.44', '45,517.82'),
 ('Texas', '44,509.34', '45,728.22'),
 ('Utah', '54,789.47', '51,222.11'),
 ('Vermont', '54,700.00', '88,128.57'),
 ('Virginia', '49,571.43', '37,139.09'),
 ('Washington', '52,271.59', '52,553.85'),
 ('West Virginia', '48,250.00', '21,500.00'),
 ('Wisconsin', '33,857.14', '49,666.56'),
 ('Wyoming', '32,666.67', '50,600.00')]

### Show the count per state in mobile & non_mobile categories

In [11]:
%%sql
SELECT state,
 COUNT(CASE WHEN mobility = 'mobile' THEN id ELSE NULL END) AS mobile,
 COUNT(CASE WHEN mobility = 'non_mobile' THEN id ELSE NULL END) AS non_mobile
 FROM (SELECT mobility, id, state
FROM (SELECT * FROM mobile UNION ALL SELECT * FROM non_mobile) AS all_) AS price
GROUP BY state

 * mysql+pymysql://root:***@localhost:3306/tiny_houses
51 rows affected.

[('Alabama', 15, 17),
 ('Alaska', 3, 2),
 ('Arizona', 48, 23),
 ('Arkansas', 10, 10),
 ('California', 180, 71),
 ('Colorado', 75, 48),
 ('Connecticut', 5, 2),
 ('Delaware', 2, 1),
 ('District of Columbia', 0, 1),
 ('Florida', 72, 48),
 ('Georgia', 32, 32),
 ('Hawaii', 4, 4),
 ('Idaho', 16, 17),
 ('Illinois', 17, 7),
 ('Indiana', 18, 4),
 ('Iowa', 7, 5),
 ('Kansas', 12, 2),
 ('Kentucky', 11, 11),
 ('Louisiana', 12, 4),
 ('Maine', 10, 7),
 ('Maryland', 6, 6),
 ('Massachusetts', 9, 11),
 ('Michigan', 18, 8),
 ('Minnesota', 17, 5),
 ('Mississippi', 6, 5),
 ('Missouri', 20, 14),
 ('Montana', 11, 10),
 ('Nebraska', 3, 3),
 ('Nevada', 8, 12),
 ('New Hampshire', 16, 4),
 ('New Jersey', 8, 8),
 ('New Mexico', 5, 6),
 ('New York', 23, 13),
 ('North Carolina', 49, 21),
 ('North Dakota', 3, 2),
 ('Ohio', 24, 16),
 ('Oklahoma', 21, 16),
 ('Oregon', 67, 28),
 ('Pennsylvania', 23, 12),
 ('Rhode Island', 3, 0),
 ('South Carolina', 19, 18),
 ('South Dakota', 0, 1),
 ('Tennessee', 43, 28),
 ('Texas', 107, 91),
 ('Utah', 19, 9),
 ('Vermont', 10, 7),
 ('Virginia', 28, 11),
 ('Washington', 44, 26),
 ('West Virginia', 4, 4),
 ('Wisconsin', 14, 9),
 ('Wyoming', 3, 5)]